extends ../layout/admin_layout.pug

block body
    #page-wrapper
        #title-breadcrumb-option-demo.page-title-breadcrumb
            .page-header.pull-left
                .page-title Categories
            ol.breadcrumb.page-breadcrumb
                li
                    i.fa.fa-home
                        a(href="#") Home&nbsp;&nbsp;
                    i.fa.fa-angle-right &nbsp;&nbsp;
                li
                    a(href="#") Category&nbsp;&nbsp;
                        i.fa.fa-angle-right &nbsp;&nbsp;
                li.active Categories
        .page-content
            if(successmessage)
                .note.note-success
                    h4.box-heading SUCCESS
                    P #{successmessage}
            if(errormessage)
                .note.note-danger
                    h4.box-heading ERROR
                    P #{errormessage}
            .row
                .col-lg-12
                    table.table.table-hover.table-bordered#mytable
                        thead
                            tr
                                th Category Id
                                th Category Name
                                th Alias
                                th Image
                                th Action
                        tbody
                            each catagory in catagories
                                tr
                                    td #{catagory._id}
                                    td #{catagory.categoryName}
                                    td #{catagory.alias}
                                    td
                                        img(src="/"+catagory.image, alt="",style={height :'50px' , width:'100px'})
                                    td
                                        a(href="/category/editcategory/" + catagory._id) Edit
                                        | &nbsp;&nbsp;
                                        a(href="/category/deletecategory/" + catagory._id , onclick="return confirm('Are you sure?')") Delete
                    script.
                        $(document).ready( function () {
                            $('#mytable').DataTable();
                        });